<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="flashcards" content="写真から単語帳を自動作成するアプリ．">
	<title>単語帳を作る魔法　-　Newcards</title>

	<!-- ファビコン -->
	<!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

	<!-- CSS -->
		<!-- ress.cssの設定 -->
		<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
		<!-- google fontsの指定 -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<!-- これから指定するCSS -->
		<link rel="stylesheet" href="../static/css/index.css">
		<script src="../static/js/index.js" defer></script>
</head>

<body>
	<div id="folder" class="big-bg">
		<!-- ヘッダー部分 -->
		<header class="page-header wrapper">
			<h1><a href="index.html"><img class="logo" src="../images/logo_kari.svg" alt="単語帳ホーム"></a></h1>
			<nav>
				<ul class="main-nav">
					<li><a href="news.html">News</a></li>
					<li><a href="login.html">Log in</a></li>
				</ul>
			</nav>
		</header>

		<!-- メインコンテンツ -->
		<div class="wrapper">
			<h2 class="page-title">New Cards</h2>
		</div><!-- /.wrapper -->
	</div><!-- /#home -->

	<main>
		<div class="newcards-content wrapper">
			<form>
				<div>
					<label for="username">ファイル名</label>
					<input type="text" id="username" name="username" placeholder="ファイル名を入力...">
				</div>
			</form>
			<label class="newcards-button2">
				読み取る写真を選択...<input type="file" accept=".jpg, .jpeg, .png">
			</label>
			<a href="#" class="newcards-button1">
				生成！
			</a>
		</div><!-- /.login-content -->
	</main>

	<!-- フッター -->
	<footer>
		<div class="wrapper">
			<p><small>&copy; 2024 EYO</small></p>
		</div>
	</footer>
</body>
</html>