@charset "UTF-8";

/* 共通部分------------------------------------------- */
html {
	font-size: 100%;
}

body {
	font-family: "IBM Plex Sans JP", sans-serif;
	font-weight: normal;
	line-height: 1.7;
	color: #fff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;	/* 画像が親要素より大きくなることを防ぐ */
}


/* HEADER --------------------------------------------- */
/* ロゴサイズと余白の調整 */
.logo {
	width: 210px;
	margin-top: 30px;
}

/* ナビゲーションメニューの装飾 */
.main-nav {
	display: flex;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-top: 34px;
	list-style: none;
}

.main-nav li {
	margin-left: 36px;
}

.main-nav a {
	color: #fff;
}

.main-nav a:hover {	/* aにカーソルを合わせたときに適用される */
	color: #D43260;
}

/* ロゴとナビゲーションメニューを横並び */
.page-header {
	display: flex;
	/* 両端に配置 */
	justify-content: space-between;
}

/* コンテンツの最大表示幅を設定 */
.wrapper {
	max-width: 1100px;
	/* ボックスを中央に配置 */
	margin: 0 auto;
	/* スマートフォン向け余白の設定 */
	padding: 0 4%;
}




/* HOME --------------------------------------------- */
/* 文章 */
.home-content {
	text-align: center;
	margin-top: 10%;
}

.home-content p {
	font-size: 1.125rem;
	margin: 10px 0 42px;
}

/* 見出し */
.page-title {
	font-size: 5rem;
	font-family: 'Rubik', serif;
	text-transform: uppercase;
	font-weight: bold;
}

/* ボタン */
.button {
	font-size: 1.375rem;
	background: #D43260;
	color: #fff;
	border-radius: 5px;	/* 角丸 */
	padding: 18px 32px;
}

.button:hover {
	background: #720d64;
}


/* 大きな背景画像 */
.big-bg {
	background-size: cover;
	background-position: center top;
}

/* 
	ID(#)は，レイアウトの枠組みなど，どのページでも変わることのない装飾
	class(.)は，ページ内で何度も使いたい装飾
*/
#home {
	background-color: rgb(5, 2, 24);
	min-height: 100vh;
}

#home .page-title {
	text-transform: none;
}